<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Autotall1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Autotall1.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>mysql.labranet.jamk.fi</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>salesa</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>T0ib3QvIhHJAXzwkTKWuTQz2ANxJUzNG</value>
            </setting>
        </Autotall1.Properties.Settings>
    </userSettings>
</configuration>